<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e504c504-c623-4ba0-acc6-50de0d72e4df/resourceGroups/practicaWS/providers/Microsoft.Web/sites/pronosticotiempoapiAC2</ResourceId>
    <ResourceGroup>practicaWS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pronosticotiempoapiac2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2bbd9564-9ec0-4028-b0cb-50b25b79185a</ProjectGuid>
    <PublishUrl>https://pronosticotiempoapiac2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$pronosticotiempoapiAC2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>